transformers>=4.4.2
loguru~=0.7.2
jieba~=0.42.1
gensim~=4.3.2
lxml~=4.9.3
tqdm~=4.66.1
bs4~=0.0.1
numpy~=1.26.2
nltk~=3.8.1
py2neo~=2021.2.4
torch~=2.1.1
matplotlib~=3.8.2
requests~=2.31.0
beautifulsoup4~=4.12.2
setuptools~=68.2.0
similarities~=1.1.6